<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}</title>
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
</head>
<body style="margin:0;background:#000;color:#fff;font-family:Arial;">
    <main>{{ content_for_layout }}</main>
</body>
</html>
